<!DOCTYPE html>
<html>
<head>
	<title> login page </title>
	<style type="text/css">
		form{
			text-align: center;
    padding: 3px;
    background-color: moccasin;
    margin-left: inherit;
    margin-right: initial;
		}
</style>
</head>
<body>
<form>
 <h2 style='background-color: blue;margin-left: 230px;margin-right:230px;text-align:center;padding:5px'>login form</h2>
	
 <label>name:</label>
 <input type='text' value = " "><br/>
 <label>password:</label>
 <input type='text' value = " "><br/>
 <button>login</button>
 </form>
</body>
</html>